/****** General ***********/

html{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}


* {
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

header img {
  width: 100%;
  max-width: 50px;
}

nav {
  display: flex;
  gap: 40px;
  text-decoration: none;
}

.navlink:hover, .navlink:focus {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: #0065fc;
}

.navlink {
    display: flex;
    border-width: 2px 0 0 0;
    border-style: solid;
    border-color: white;
    height:50px;
    align-items: center;
    
  }

h1 {
  margin-bottom: -5px;
  font-size: 20px;
}

section {
  padding: 50px;
}

p {
  font-size: 13.5px;
}

.search-button {
  display: flex;
  margin: 50px 0 50px 0;
}

.location {
  border: 0;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 13px 0 0 13px;
}

.location i {
    color: #000000;
}


.search-bar input[type="search"] {
  padding: 15px;
  border-left: none;
  border-right: none;
  border-bottom-color: #f2f2f2;
  border-top-color: #f2f2f220;
}

.search-bar input[type="search"]::placeholder {
    color: black;
}

.search-bar input[type="search"]:focus{
    outline: none;
}

.button {
  padding: 15px;
  background-color: #0065fc;
  border: none;
  border-radius: 0 13px 13px 0;
  cursor: pointer;
}
.button button {
  border: none;
  color: white;
  font-size: medium;
  font-weight: 520;
  background-color: #0065fc;
  cursor: pointer;

}

.textclass {
  font-weight: bold;
  color: #000000;
  font-size: medium;
}

.text-after-icon {
  font-size: 13.5px;
}

.filters {
    display: flex;

    font-size: 13px;
    gap: 20px;
    margin-bottom: 30px;
}

.filter-buttons {
    display: flex;
    gap:20px;       
}

.filter-button {
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #D9D9D9;
    

}

.filter-buttons :hover {
    background-color: #DEEBFF;
}

.fa-info {
    border-radius: 30px;
    border: 1px solid #D9d9d9;
    padding-left: 8px;
    padding-right:8px;
    padding-top: 4px;
    padding-bottom: 5px;
}


.icon-container i {
    font-size: 11px;
}










section {
    padding-bottom: 0;
}


:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
    padding: 0;
    margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card, .cardheb {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img , .cardheb img {
  object-fit:cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
flex-wrap: wrap; 
justify-content:space-a;
}

.hebergements-title {
    align-items: center;
    flex: 1 100%;

}
  .hebergements-cards {
    display:flex;
    flex-wrap: wrap;
    margin: 10px;
      
  }


  .cardheb img {
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    
  }
  
  .cardheb{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    width: 200px;
    height: 180px;
     
    
  }

.card-title{
    margin: 0;
}


  .hebergements-cards .card-content {
    width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin:0;
  }

  .card-txt {
    width: 100%;
   }

   .afficher {
    font-size: 100%;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
   }

   .card-subtitle {
    margin:2%
   }



/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}


/*--------------Activités----------------*/

.activities {
    display: flex;
    flex-wrap: row wrap; 
    width:   90%;
    gap: 20px;

   
}

.activites-title {
    margin-left: 50px;
    margin-bottom:-20px;
    padding-top: 4%;
   
}


.cardact img {
width: 300px;
height: 85%;
object-fit: cover;
border-radius: 15px 15px 0 0;

}

.cardact {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 90%;
}


.activities .card-content {
    
    padding-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.pdp {
    display: flex;
    justify-content: space-around;
    gap: 20%;
    background-color:#f2f2f2;
    width: 100%;
    height: 100%;

}
footer {
    height: 8%;
}
.about-footer, .hebergement-footer, .assistance-footer  {
    text-decoration: none;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 6%;

}

.about-footer div,
.hebergement-footer div,
.assistance-footer div {
    margin-bottom: 10px; 
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {


    .main-container {
        width: 100%;
        max-width: 1024px;
        padding: 0 50px;
        box-sizing: border-box;
      }
      
      .filters {
        display: flex;
        flex-direction: column;
      }

    
    .filter-buttons {
        display: flex;
        gap:20px;       
    }
    
    .filter-button {
        font-size: 17px;
        font-weight: bold;
        background-color: white;
        border-radius: 30px;
        padding-left: 20px;
        padding-right: 20px;
        border: 2px solid #D9D9D9;
        }

  .hebergements-and-populaires {
    flex-direction: column; 
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
  }
  
  .populaires-cards a {
    width: 32%;
    height: 32%    
  }

  .populaires-cards img {
    width: 30%;
    height: 100px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

  }
  .populaires-cards .card-content {
  
    padding-left: 3px;
  }

  .populaires-cards .card {
    display: flex;
   height: 60%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
    margin: 5px;

  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities {
    margin-bottom: 10px;
  }


.cardact {
    height: 90%;
    width: 86%;
    padding-right:
}

.cardact img {
    width: 150px ;
    height: 80% ;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}



.cardact .card-title {
    font-size: small;
}

.pdp {

    gap: 5%;
    width: 95%;
    justify-content: center;
}
  
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .hebergements-and-populaires {
        flex-direction: column;
      }
    
      .hebergements {
        width: 100%;
      }
    
      .populaires {
        width: 100%;
        margin-top: 50px;
      }
    
      .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    
      .populaires-cards a {
        width: ;
      }
    
      .populaires-cards .card-title {
        font-size: ;
      }
    
      .populaires-cards .card-subtitle {
        font-size: ;
      }
    }

